mqtt_server:
  enabled: false
  hostname: 192.10.20.1
  port: 1883
  topic: foo/bar

server:
  address: 0.0.0.0
  port: 8080
  swagger_ui_url: https://validator.swagger.io

trackers:
  ipv4: {}
  bluetooth: {}
  tplink-c2600:
    url: http://192.10.20.1
    username: foobar
    password: encodedPassword256CharactersLongCapturedFromTheWebConsole
  tplink-re450:
    url: http://192.10.20.2
    password: encodedPasswordWithMD5
